---json
{
  "permalink": "/sitemap.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
  {% for page in collections.all %}
    {% if page.url and not page.data.eleventyExcludeFromCollections %}
    <url>
      <loc>{{ site.url }}{{ page.url }}</loc>
      <lastmod>{{ page.date | isoDate }}</lastmod>
    </url>
    {% endif %}
  {% endfor %}
</urlset>
